@model List<GameSaleProject_Entity.ViewModels.GameViewModel>

@{
    ViewData["Title"] = "Home Page";
    Random random = new Random();
}


<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @foreach (var game in Model)
            {
                var image = game.Images.FirstOrDefault(img => img.ImageType == "carousel");
                var category = game.Category?.Name;
                if (image != null)
                {
                    <div class="hero__items set-bg" data-setbg="@Url.Content(image.ImageUrl)">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <div class="label">@category</div>
                                    <h2 class="text-shadow fw-bold">@game.GameName</h2>
                                    <p class="text-shadow">@game.Description</p>
                                    <a href="@Url.Action("Detail", "Game", new { id = game.Id })"><span>Details</span> <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>


<section class="product spad">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Trending</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-action="Index" asp-controller="Game" class="primary-btn">View All <span class="arrow_right"></span></a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var game in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    @if (game.Images != null && game.Images.Any(img => img.ImageType == "card"))
                                    {
                                        var cardImage = game.Images.First(img => img.ImageType == "card");
                                        <a asp-action="Detail" asp-controller="Game" asp-route-id="@game.Id">
                                            <div class="product__item__pic set-bg" data-setbg="@Url.Content(cardImage.ImageUrl)" );">
                                                @if (game.Discount > 0)
                                                {
                                                    <div class="ep">Discount: @game.Discount%</div>
                                                }

                                                <div class="comment"><i class="fa fa-comments"></i> @game.Reviews.Count</div>
                                                <div class="view"><i class="fa fa-eye"></i> @random.Next(500, 3000)</div>
                                            </div>
                                        </a>
                                        
                                    }
                                    else
                                    {
                                        <div class="product__item__pic set-bg" style="background-image: url('/images/placeholder.png');">
                                            <div class="ep">Fotoğraf yok</div>
                                            <div class="comment"><i class="fa fa-comments"></i> @game.Reviews.Count</div>
                                            <div class="view"><i class="fa fa-eye"></i> @random.Next(500, 3000)</div>
                                        </div>
                                    }
                                    <div class="product__item__text">
                                        <ul>
                                            <li>@game.Category.Name</li>
                                            <li>@game.Platform</li>
                                        </ul>
                                        <h5>
                                            <a asp-action="Detail" asp-controller="Game" asp-route-id="@game.Id">@game.GameName</a>
                                        </h5>
                                        <p class="card-text">
                                            @if (game.Price == 0)
                                            {
                                                <span class="text-success">Free</span>
                                            }
                                            @if (game.Discount > 0)
                                            {
                                                <span class="text-decoration-line-through text-white">@game.Price.ToString("C")</span>
                                                <span class="text-danger">@(((decimal)game.Price * (decimal)(1 - (decimal)game.Discount / 100)).ToString("C"))</span>
                                            }
                                            else if (game.Price != 0)
                                            {
                                                <span class="text-white">@game.Price.ToString("C")</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.Count % 3 != 0)
                        {
                           
                            @for (int i = 0; i < (3 - (Model.Count % 3)); i++)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6"></div>
                            }
                        }
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Hot Discounts</h5>
                        </div>          
                        
                        <div class="filter__gallery">
                            @foreach (var game in Model.Take(3)) 
                            {
                                @if (game.Discount >= 70)
                                {
                                    <div class="product__sidebar__view__item set-bg mix" data-setbg="@Url.Content(game.Images.FirstOrDefault(img => img.ImageType == "card")?.ImageUrl ?? "/images/placeholder.png")">

                                        <div class="ep">İndirim: @game.Discount%</div>
                                        <h5><a asp-action="Detail" asp-controller="Game" asp-route-id="@game.Id">@game.GameName</a></h5>
                                    </div>
                                }
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Discounts</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var game in Model)
                        {
                            @if (game.Discount > 0)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        @if (game.Images != null && game.Images.Any(img => img.ImageType == "card"))
                                        {
                                            var cardImage = game.Images.First(img => img.ImageType == "card");
                                            <a asp-action="Detail" asp-controller="Game" asp-route-id="@game.Id">
                                                <div class="product__item__pic set-bg" data-setbg="@Url.Content(cardImage.ImageUrl)" );">
                                                    @if (game.Discount > 0)
                                                    {
                                                        <div class="ep">İndirim: @game.Discount%</div>
                                                    }

                                                    <div class="comment"><i class="fa fa-comments"></i> @game.Reviews.Count</div>
                                                    <div class="view"><i class="fa fa-eye"></i> @random.Next(500, 3000)</div>
                                                </div>
                                            </a>

                                        }
                                        else
                                        {
                                            <div class="product__item__pic set-bg" style="background-image: url('/images/placeholder.png');">
                                                <div class="ep">No Image</div>
                                                <div class="comment"><i class="fa fa-comments"></i> @game.Reviews.Count</div>
                                                <div class="view"><i class="fa fa-eye"></i> @random.Next(500, 3000)</div>
                                            </div>
                                        }
                                        <div class="product__item__text">
                                            <ul>
                                                <li>@game.Category.Name</li>
                                                <li>@game.Platform</li>
                                            </ul>
                                            <h5>
                                                <a asp-action="Detail" asp-controller="Game" asp-route-id="@game.Id">@game.GameName</a>
                                            </h5>
                                            <p class="card-text">
                                                @if (game.Price == 0)
                                                {
                                                    <span class="text-success">Free</span>
                                                }
                                                @if (game.Discount > 0)
                                                {
                                                    <span class="text-decoration-line-through text-white">@game.Price.ToString("C")</span>
                                                    <span class="text-danger">@(((decimal)game.Price * (decimal)(1 - (decimal)game.Discount / 100)).ToString("C"))</span>
                                                }
                                                else if (game.Price != 0)
                                                {
                                                    <span class="text-white">@game.Price.ToString("C")</span>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        @if (Model.Count % 3 != 0)
                        {                           
                            @for (int i = 0; i < (3 - (Model.Count % 3)); i++)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6"></div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

