@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Index";
    
}
@section Sidebar {
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Components/_Sidebar.cshtml")
}
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="col-md-8 mx-auto">
            <h3 class="title text-primary">Role List</h3>
            <div class="login p-5 bg-light mx-auto mw-100">
                <p class="text-primary">
                    <a asp-action="Create" asp-controller="Role" asp-area="Admin"><strong>Create New Role</strong></a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                       
                                        <a asp-action="Delete" asp-controller="Role" asp-area="Admin" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">
                                    <div class="alert alert-danger text-center">
                                        <strong>Kayıtlı rol bulunmamaktadır.</strong>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

